<ng-container *ngIf="loggedUser; else notLogged">
    <ng-container *ngIf="selectedRoom; else noRoomSelected">
        <h1>Presentator Paneel</h1>
        <h2>
            Overzicht van polls
        </h2>
        <div class="row mb-3" *ngFor="let poll of lijstPolls"
            style="align-items: center;display: flex;justify-content: center;">
            <span class="col col-md-4 mr-3" style="display: flex;align-items: center;line-height: 100%;justify-content: center;">{{ poll.question }}</span>
            <button class="btn btn-info mr-3" (click)="openPoll(poll)">Open</button>
            <a class="btn btn-success" href="/polls/{{poll['pollID']}}" target="_blank">Resultaat</a>
        </div>
        <div class="row mb-3" *ngIf="!(lijstPolls.length>0)" style="align-items: center;display: flex;justify-content: center;">
            <h3>Geen polls ingesteld voor deze stream</h3>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 center">
                <h2>Live Chat</h2>
                <app-chat [roomId]=roomId [hideQstButton]="true"></app-chat>
            </div>
        
            <div class="center col-md-4">
                <h2>Inkomende vragen</h2>
                <div class="qstns">
                    <div *ngFor="let qst of questions; let i = index">
                        <p>
                            <Strong>{{qst.username}}: </Strong>{{qst.message}} <button class="btn btn-danger"
                                (click)="questionAnswered(i)">Beantwoord</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" class="text-right" style="padding-bottom: 50px;">
            <button class="btn btn-danger" (click)="stopStream()">Stop stream</button>
        </div>
    </ng-container>
</ng-container>


<ng-template #notLogged>
    <h3>Meld aan om een stream te volgen.</h3>
</ng-template>
<ng-template #noRoomSelected>
    <h3>Selecteer een room op de homepagina om een stream te kunnen volgen.</h3>
</ng-template>