<h1 class="col-md-6">Room aanmaken</h1>
<div class="row">
  <form #presentatorForm="ngForm" (ngSubmit)="onSubmitPresentator()" class="col-xs-12 col-md-6">
    <div>
      <mat-form-field class="col-xs-10 col-md-10">
        <input matInput [(ngModel)]="presentatorEmail" name="presentatorEmail" placeholder="Email presentator">
      </mat-form-field>
      <button class="col-xs-2 col-md-2" mat-raised-button color="primary" type="submit">Verifieer</button>
    </div>
  </form>

  <div class="col-md-6">
    <div class="invalid-feedback col-md-12" *ngIf="isInvalidPresentator" style="display:flex;align-items: center;height: 100%;">
      <p>Email not found</p>
    </div>
    <div class="valid-feedback col-md-12" *ngIf="isVerifiedPresentator" style="display:flex;align-items: center;height: 100%;">
      <p>Verified</p>
    </div>
  </div>
  
  <form #moderatorForm="ngForm" (ngSubmit)="onSubmitModerator()" class="col-xs-12 col-md-6">
    <div>
      <mat-form-field class="col-xd-10 col-md-10">
        <input matInput [(ngModel)]="moderatorEmail" name="moderatorEmail" placeholder="Email moderator">
      </mat-form-field>
      
      <button class="col-xs-2 col-md-2" mat-raised-button color="primary" type="submit">Verifieer</button>
    </div>
  </form>

  <div class="col-md-6">
    <div class="invalid-feedback col-md-12" *ngIf="isInvalidModerator" style="display:flex;align-items: center;height: 100%;">
      <p>Email not found</p>
    </div>
    <div class="valid-feedback col-md-12" *ngIf="isVerifiedModerator" style="display:flex;align-items: center;height: 100%;">
      <p>Verified</p>
    </div>
  </div>

  <hr>

  <form #roomsForm="ngForm" (ngSubmit)="onSubmit()" class="col-xs-12 col-md-6 ">
    <div>
      <mat-form-field class="col-md-6">
        <input matInput [(ngModel)]="model.Name" name="name" placeholder="Room naam">
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <input matInput [(ngModel)]="model.Password" name="password" placeholder="Paswoord">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="col-md-6">
        <input matInput [(ngModel)]="model.Description" name="description" placeholder="Description">
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <input matInput [(ngModel)]="model.LinkStream" name="linkStream" placeholder="Youtube link"
          [pattern]="linkPattern" #linkStream="ngModel">
        <mat-error *ngIf="linkStream.errors?.pattern">
          Not a valid youtube link
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>Startdate</mat-label>
        <input matInput required [matDatepicker]="startStream" [(ngModel)]="model.StartStream" name="startStream"
          placeholder="start datum">
        <mat-datepicker-toggle matSuffix [for]="startStream"></mat-datepicker-toggle>
        <mat-datepicker #startStream></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>Kies een tijd</mat-label>
        <input matInput required [ngxTimepicker]="fullTimeStart" [format]="24" name="startTime" [(ngModel)]="startTime">
        <ngx-material-timepicker-toggle matSuffix [for]="fullTimeStart"></ngx-material-timepicker-toggle>
        <ngx-material-timepicker #fullTimeStart></ngx-material-timepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>Enddate</mat-label>
        <input matInput required [matDatepicker]="endStream" [(ngModel)]="model.EndStream" name="endStream"
          placeholder="eind datum">
        <mat-datepicker-toggle matSuffix [for]="endStream"></mat-datepicker-toggle>
        <mat-datepicker #endStream></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-6">
        <mat-label>Kies een tijd</mat-label>
        <input matInput required [ngxTimepicker]="fullTimeEnd" [format]="24" name="endTime" [(ngModel)]="endTime">
        <ngx-material-timepicker-toggle matSuffix [for]="fullTimeEnd"></ngx-material-timepicker-toggle>
        <ngx-material-timepicker #fullTimeEnd></ngx-material-timepicker>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <button mat-raised-button color="primary" type="submit" class="col-md-12"
        [disabled]="!roomsForm.form.valid || submitted">Submit</button>
    </div>
  </form>


</div>