<h1>Axxess Streams</h1>
<ng-container *ngIf="loggedUser; else notLogged">
    <ng-container *ngIf="selectedRoom; else noRoomSelected">
        <ng-container *ngIf="streamUrl">
            <div class="center">
                <iframe width="80%" height="400px" [src]="streamUrl" frameborder="0"
                    allowfullscreen></iframe>
            </div>
        </ng-container>
        <ng-container *ngIf="!streamUrl">
            <h3>Onjuiste stream url. Wacht op de presentator om de stream url bij te werken.</h3>
        </ng-container>
        <div class="mt-5">
            <h3>Scan onderstaande qr-code voor interactie met je mobiel toestel.</h3>
            <ngx-qrcode [elementType]="elementType" [value]="value" class="center">
            </ngx-qrcode>
        </div>
        <div class="mt-3 text-center pb-5">
            <p>Mobiel toestel niet bij de hand? Voer interactie uit vanaf je computer.</p>
            <a class="btn btn-primary" href="/mobile/room/{{selectedRoom['roomID']}}" target="_blank">Interactie</a>
        </div>
    </ng-container>
</ng-container>

<ng-template #notLogged>
    <h3>Meld aan om een stream te volgen.</h3>
</ng-template>
<ng-template #noRoomSelected>
    <h3>Selecteer een room op de homepagina om een stream te kunnen volgen.</h3>
</ng-template>