<h1>Resultaten poll</h1>
<div *ngIf="loading; else result">
    <mat-spinner style="margin-left: auto;margin-right: auto;"></mat-spinner>
</div>
<ng-template #result>
    <div *ngIf="loggedUser && isPresentatorOfPoll; else error">
        <div *ngIf="poll">
            <h3>{{poll.question}}</h3>
        </div>
    
        <p-chart type="doughnut" [data]="data"></p-chart>
    
        <div class="row" class="text-right mt-5">
            <button *ngIf="!isDetailView" class="btn btn-primary" (click)="goBackToPresentatorPanel()">Presentator panel</button>
            <button *ngIf="isDetailView" class="btn btn-primary" (click)="goBackToRoomDetails()">Room Details</button>
        </div>
    </div>
</ng-template>
<ng-template #error>
    <div *ngIf="!loggedUser">
        <h3>Meld aan om een poll te kunnen bekijken</h3>
    </div>
    <div *ngIf="loggedUser && !isPresentatorOfPoll">
        <h3>Je bent niet gemachtigd om de resultaten van deze poll te bekijken!</h3>
    </div>
</ng-template>
