<h1>Welkom bij Axxes Streams!</h1>

<div class="row" *ngIf="loggedUser">
  <div class="col col-md-6">
    <h1 class="text-left">Beheer</h1>
  </div>
  <div class="col col-md-6 text-right">
    <button class="btn btn-primary" (click)="createRoom()">Room aanmaken</button>
  </div>
</div>
<div class="row" *ngIf="loggedUser && roomsbypresentator">
  <ng-container *ngFor="let room of roomsbypresentator">
    <div class="card mr-2" style="width: 18rem;">
      <div class="card-body">
        <h5 *ngIf="room['live'] != true; else live" class="card-title text-left">{{room.name}}</h5>
        <ng-template #live>
          <h5 class="card-title text-left" >{{room.name}} - LIVE</h5>
        </ng-template>
        <h6 class="card-subtitle mb-2 text-muted">{{room.startStream | date:'dd/MM/yyyy HH:mm'}} - {{room.endStream |
          date:'HH:mm'}}</h6>
        <p class="card-text">{{room.description}}</p>
      </div>
      <div class="card-footer text-muted" >
        <button mat-icon-button (click)="editRoom(room)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button class="ml-2" (click)="deleteRoom(room)">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <button mat-icon-button class="ml-2" (click)="goLive(room)">
          <mat-icon>live_tv</mat-icon>
        </button>
        <button mat-icon-button class="ml-2" (click)="managePolls(room.roomID)">
          <mat-icon>poll</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
</div>

<div *ngIf="loggedUser && !(roomsbypresentator.length>0)">
  <h3>Geen rooms om te beheren</h3>
</div>

<div *ngIf="loggedUser && roomsthisweek">
  <hr>
  <h1 class="text-left">Deze week</h1>
  <div class="row">
    <ng-container *ngFor="let room of roomsthisweek">
      <div class="card mr-2" style="width: 18rem;" *ngIf="room.live">
        <div class="card-body">
          <h5 class="card-title text-left">{{room.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{room.startStream | date:'dd/MM/yyyy HH:mm'}} - {{room.endStream |
            date:'HH:mm'}}</h6>
          <p class="card-text">{{room.description}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div *ngIf="loggedUser && !(roomsthisweek.length>0)">
  <h3>Deze week zijn er geen geplande streams</h3>
</div>

<div *ngIf="loggedUser && roomsthisweek">
  <hr>
  <h1 class="text-left">Live</h1>
  <div class="row">
    <ng-container class="col-12" *ngFor="let room of roomslive">
      <div class="card mr-2" style="width: 18rem;">
        <div class="card-body" (click)="followStream(room)" matTooltip="Click to follow stream">
          <h5 class="card-title text-left">{{room.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{room.startStream | date:'dd/MM/yyyy HH:mm'}} - {{room.endStream |
            date:'HH:mm'}}</h6>
          <p class="card-text">{{room.description}}</p>
        </div>
        <div class="card-footer">
          <button *ngIf="loggedUser['userID'] != room['presentatorID']; else presentator" class="btn btn-info" (click)="followStream(room)">Follow stream</button>
          <ng-template #presentator>
            <button class="btn btn-info" (click)="panel(room)">Panel</button>
          </ng-template>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div *ngIf="!loggedUser">
  <h3>Meld aan om een stream te kunnen volgen</h3>
</div>

<div *ngIf="loggedUser && !(roomslive.length>0)">
  <h3>Momenteel geen live streams</h3>
</div>