<h1>Welkom bij Axxes Streams!</h1>

<div class="row" *ngIf="loggedUser">
  <div class="col col-md-6">
    <h1 class="text-left">Beheer</h1>
  </div>
  <div class="col col-md-6 text-right">
    <button class="btn btn-primary" (click)="createRoom()">Room aanmaken</button>
  </div>
</div>
<div class="row" *ngIf="loggedUser && roomsbypresentator">
  <ng-container *ngFor="let room of roomsbypresentator">
    <div class="col-md-3">
      <div class="card mb-2">
        <div class="card-body">
          <h3 *ngIf="room['live'] != true; else live" class="card-title text-left">{{room.name}}</h3>
          <ng-template #live>
            <h3 class="card-title text-left">{{room.name}} - LIVE</h3>
          </ng-template>
          <h5 class="card-subtitle text-left mb-2 text-muted">{{room.startStream | date:'dd/MM/yyyy HH:mm'}} -
            {{room.endStream |
            date:'HH:mm'}}</h5>
          <p class="card-text">{{room.description}}</p>
        </div>
        <div class="card-footer text-muted">
          <button mat-icon-button (click)="editRoom(room)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="ml-2" (click)="deleteRoom(room)">
            <mat-icon>delete_forever</mat-icon>
          </button>
          <button mat-icon-button class="ml-2" (click)="goLive(room)">
            <mat-icon>live_tv</mat-icon>
          </button>
          <button mat-icon-button class="ml-2" (click)="managePolls(room.roomID)">
            <mat-icon>poll</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div *ngIf="loggedUser && !(roomsbypresentator.length>0)">
  <h3>Geen rooms om te beheren</h3>
</div>

<div *ngIf="loggedUser && roomsthisweek">
  <hr>
  <h1 class="text-left">Deze week</h1>
  <div class="row">
    <ng-container *ngFor="let room of roomsthisweek">
      <div class="col-md-3">
        <div class="card mb-2" *ngIf="room.live">
          <div class="card-body">
            <h3 class="card-title text-left">{{room.name}}</h3>
            <h5 class="card-subtitle text-left mb-2 text-muted">{{room.startStream | date:'dd/MM/yyyy HH:mm'}} -
              {{room.endStream |
              date:'HH:mm'}}</h5>
            <p class="card-text">{{room.description}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div *ngIf="loggedUser && !(roomsthisweek.length>0)">
  <h3>Deze week zijn er geen geplande streams</h3>
</div>

<div *ngIf="loggedUser && roomsthisweek">
  <hr>
  <h1 class="text-left">Live</h1>
  <div class="row">
    <ng-container *ngFor="let room of roomslive">
      <div class="col-md-3">
        <div class="card mb-2">
          <div class="card-body">
            <h3 class="card-title text-left">{{room.name}}</h3>
            <h5 class="card-subtitle text-left mb-2 text-muted">{{room.startStream | date:'dd/MM/yyyy HH:mm'}} -
              {{room.endStream |
              date:'HH:mm'}}</h5>
            <p class="card-text">{{room.description}}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-info" (click)="followStream(room)">Follow stream</button>
            <button *ngIf="loggedUser['userID'] == room['presentatorID']" class="btn btn-success ml-3"
              (click)="panel(room)">Panel</button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div *ngIf="!loggedUser">
  <h3>Meld aan om een stream te kunnen volgen</h3>
</div>

<div *ngIf="loggedUser && !(roomslive.length>0)">
  <h3>Momenteel geen live streams</h3>
</div>