<div class="messaging">
  <div class="msg_history">
    <li class="message" *ngFor="let msg of messages; let i = index">
      <div *ngIf="msg.isQuestion; else messagetemplate">
        <div *ngIf="userId == modId" class="question" [ngClass]="{'msg.isValidatedQuestion': answered}">
          <p> <strong>{{msg.username}}: </strong>{{ msg.message }}</p>
          <div *ngIf="!msg.IsValidatedQuestion">
            <button class="btn btn-success" (click)=AcceptQuestion(i)>Accepteer</button>
            <button class="btn btn-danger" (click)=RejectQuestion(i)>Weiger</button>
          </div>
        </div>
      </div>
      <ng-template #messagetemplate>
        <div *ngIf="
          msg.clientuniqueid !== userId;
          then incoming_msg;
          else outgoing_msg">
        </div>
      </ng-template>
      <ng-template #incoming_msg>
        <div class="incoming_msg">
          <div class="received_withd_msg text-left">
            <p> <strong>{{msg.username}}: </strong>{{ msg.message }}</p>
          </div>
        </div>
      </ng-template>
      <ng-template #outgoing_msg>
        <div class="outgoing_msg">
          <div class="sent_msg text-right">
            <p>{{ msg.message }}</p>
          </div>
        </div>
      </ng-template>
    </li>
  </div>
  <div class="type_msg">
    <form (ngSubmit)="sendMessage()">
      <input type="text" class="input_msg_write" placeholder="Type a message" name="newMessage" [(ngModel)]="txtMessage"
        (keydown.enter)="sendMessage()" />
      <mat-button-toggle *ngIf="!hideQstButton" class="msg_qst_radio" checked="checked" [checked]="isQuestion" (change)="isQuestion = $event.source.checked" name="questionbox">
        Vraag
      </mat-button-toggle>
      <button mat-icon-button class="msg_send_btn ml-3" type="submit">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>