  <div class="container">
    <div class="chat d-flex flex-column overflow-auto justify-content-between">
      <div class="mesgs flex-column overflow-auto">
        <div *ngFor="let msg of messages"> 
          <span class="time_date" > {{msg.date | date:'HH:mm'}} </span> 
          <div class="message" [ngClass]="{'ownMessage' : msg.clientuniqueid == userId, 'otherMessage' : msg.clientuniqueid != userId}">
            <p>  
              <Strong>{{msg.username}}   : </Strong>{{msg.message}}   
             </p>   
          </div>
          
        </div>
      </div>
      <div class="type_msg">   
          <input type="text" [value]="txtMessage"  
          (input)="txtMessage=$event.target.value" (keydown.enter)="sendMessage()" placeholder="Type a message" />  
          <button class="btn-primary btn" type="button"  (click)="sendMessage()">Verstuur</button>   
      </div>  
    </div>
  </div>