<div class="messaging">
  <div class="msg_history">
    <li class="message" *ngFor="let msg of messages">
      <div *ngIf="
                msg.clientuniqueid !== userId;
                then incoming_msg;
                else outgoing_msg
              "></div>
      <ng-template #incoming_msg>
        <div class="incoming_msg">
          <div class="received_msg">
            <div class="received_withd_msg">
              <p> <strong>{{msg.username}}: </strong>{{ msg.message }}</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #outgoing_msg>
        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>{{ msg.message }}</p>
          </div>
        </div>
      </ng-template>
    </li>
  </div>
  <div class="type_msg">
    <form class="input_msg_write" (ngSubmit)="sendMessage()">
      <input type="text" class="write_msg" placeholder="Type a message" name="newMessage" [(ngModel)]="txtMessage"
        (keydown.enter)="sendMessage()" />
      <button mat-icon-button class="msg_send_btn" type="submit">
        <mat-icon>send</mat-icon>
      </button>
    </form>

  </div>