.incoming_msg {
	display: inline-block;
	vertical-align: top;
    width: 100%;
    margin: 5px 0 5px;
}

.received_withd_msg p {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 3px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
}

.received_withd_msg {
	max-width: 75%;
	width: fit-content;
}

.sent_msg p {
	background: #05728f none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.outgoing_msg {
	overflow: hidden;
	margin: 5px 0 5px;
}

.sent_msg {
	float: right;
	max-width: 65%;
	width: fit-content;
}

.input_msg_write {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 60%;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	padding-top: 5px;
	
}
.msg_qst_radio {
	background: rgb(191, 210, 219);
	color: #fff;
	text-align: center;
	min-width: 10%;
}
.mat-button-toggle-checked {
	background: #05728f;
}
.msg_send_btn {
	background: #05728f;
	border: medium none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	text-align: center;
	max-width:10%
}


.messaging {
	padding: 0 0 15 0;
}

.msg_history {
	height: 65vh;
	overflow-y: auto;
}

.message {
    word-wrap: break-word;
	list-style-type: none;
}

.question{
	word-wrap: break-word;
	list-style-type: none;
	width: 100%;
	background: rgb(241, 145, 81);
}